
{% block librinfo_dropzone_widget %}
    {% dump %}
        {% for file in value%}
            <input type="hidden" name="old_files[]" value="{{ file.id }}"/>
        {% endfor %}
    {% spaceless %}
        <div class="dropzone add_files">
        </div>
        <div class="dropzone-btn">
            <button class="btn btn-success btn-sm sonata-ba-action add_files">
                <i class="glyphicon glyphicon-plus"></i>
                {{ 'Add files'|trans() }}
            </button>
        </div>
    {% endspaceless %}
    {% block stylesheets %}
        <link href="{{ asset('bundles/librinfomedia/css/dropzone.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}
    {% block scripts %}
        <script type="text/javascript" src="{{ asset('bundles/librinfomedia/js/dropzone.js') }}"></script>
    {% endblock %}
{% endblock %}