
{% block librinfo_dropzone_widget %}
    {% if value is iterable %}
        {% for file in value%}
            <input type="hidden" name="load_files[]" value="{{ file.id }}"/>
        {% endfor %}
    {% elseif value is not null %}
        <input type="hidden" name="load_files[]" value="{{ value.id }}"/>
    {% endif %}
    {% spaceless %}
        <div class="dropzone add_files">
        </div>
        <div class="dropzone-btn">
            <button class="btn btn-success btn-sm sonata-ba-action add_files">
                <i class="glyphicon glyphicon-plus"></i>
                {{ 'Add files'|trans() }}
            </button>
        </div>
    {% endspaceless %}
{% endblock %}